
/* ====== COMÚN ====== */
.admin-footer {
  padding: 30px 20px 15px;
  font-family: 'Segoe UI', sans-serif;
}

.admin-footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto 15px;
}

.admin-footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; 
  gap: 20px;
  flex-wrap: wrap; 
}


.admin-footer .footer-links a {
  text-decoration: none;
  font-size: 14px;
}

.admin-footer .footer-copy {
  text-align: center;
  font-size: 12px;
}
